body {
    background: #333;
    color: white;
    font-family: Helvetica, sans-serif;
}

li {
    list-style-type: none;
    padding: 10px;
    padding-right: 30px;
}

ul {
    margin: 0;
}

.header ul {
    display: flex;
    justify-content:flex-start;
    flex-direction: row;
}

a {
    color: white;
    font-family: Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px;
    padding-right: 30px;
}







/* Styling for main */
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main-box {
    border: 1px white solid;
    padding: 10px;
    flex-basis: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height:800px;
}

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home img {
    margin-top: 10%;
    margin-bottom: 10%;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-box {
    border: 1px white solid;
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
}

.experience-box {
    border: 1px white solid;
    width: 200px;
    height: 200px;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
}

.experience {
    display: flex;
    flex-direction: row;
}

.contact {
    display: flex;
    justify-content: center;
    border: 1px white solid;
    width: 40%;
    height: 400px;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
}










/* Type Writer effect */
.intro-typewriter {
    color: #fff;
    font-family: Helvetica, sans-serif;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
  }

  /* Animation for elements when in view */
.scroll-js {
    opacity: 0;
    transition: opacity 1500ms;
}

.scroll-js.scrolled {
    opacity: 1;
}